.canelModal {
    padding: 4px 23px;
    margin-left: 10px;
    background-color: #FF8B36;
    color: #ffff;
    cursor: pointer;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    outline: none;
}

.saveModal {
    padding: 6px 26px;
    background-color: #FF8B36;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    border: 1px solid white;
    border-radius: 5px;
}

.modalIn {
    width: 100%;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid black;
    margin: 15px 0px;
    font-size: 17px;
}
