.Footer {
    display: flex;
    flex-direction: column;
    gap: 3vw;
    margin-top: 10vw;
    border-top: .2vw solid #FF8B36;
    width: 100%;
    height: auto;
    background-color: #c9c4c4;
    padding: 2vw 8vw; 
    position: relative;
    bottom:0;
    left: 0; 
}

.Footer_Title {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    font-size: 1vw;
    color: #fff;
    text-transform: uppercase;
}

.Footer_Title h1 {
    border-bottom:.2vw solid #FF8B36;
}

.LinkFooter {
    display: flex;
    gap: 1vw;
    width: 100%;
    justify-content: space-between;
}

.Yunusoff {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    width: 25vw;
    padding: 1vw 2vw;
    color: #fff;
    border: .2vw solid #FF8B36;
}

.Satipoff {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    width: 25vw;
    padding: 1vw 2vw;
    color: #fff;
    border: .2vw solid #FF8B36;
}
.Yunusoff h1 {
    font-size: 1vw;
    border-bottom:.1vw solid #FF8B36;
}

.Satipoff h1{
    font-size: 1vw;
    border-bottom:.1vw solid #FF8B36;
}