.Footer {
    display: flex;
    flex-direction: column;
    gap: 3vw;
    margin-top: 10vw;
    border-top: .2vw solid #FF8B36;
    width: 100%;
    height: auto;
    background-color: #c9c4c4;
    padding: 2vw 8vw; 
    position: relative;
    bottom:0;
    left: 0; 
}

.Footer_Title {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    font-size: 1vw;
    color: #fff;
    text-transform: uppercase;
}

.LinkFooter {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.Yunusoff {
    color: #FF8B36;
}