.mainCards {
    width: 50vw;
    height: 20vw;
    margin: 30px auto;
    display: flex; 
    justify-content: space-between; 
    overflow: auto;
    flex-wrap: wrap;
    gap: 20px;
    align-items: flex-start;
    text-align: start;
}

.MainttaskCard {
    width: 50vw;
    height: 12.5vw;
    overflow-y: auto;
    margin: 30px auto; 
    display: flex; 
    justify-content: flex-start;
    gap: 20px;
    align-items: flex-start;
}

 

.MainttaskCard::-webkit-scrollbar {
    width: .2vw;
    height: .3vw;
    /* ширина scrollbar */
}

.MainttaskCard::-webkit-scrollbar-track {
    background: white;
    /* цвет дорожки */
}

.MainttaskCard::-webkit-scrollbar-thumb {
    background-color: #FF8B36;
    /* цвет плашки */
    border-radius: 20px;
    /* закругления плашки */ 
}

.mainCard {
    width: 23vw;
    height: 7vw;
    display: flex; 
    align-items:center;
    gap: 2vw;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.11);
    padding: .4vw .3vw;
    position: relative;
}

.MainCardNLP {
    width: 100%;
    display: flex;
    align-items:flex-start;
    justify-content: space-between;
    gap: 1vw;
}

.MainCardsText {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    width: 50%;
}

.MainCardsText p{ 
    margin: 0;
    padding: 0;
    color:#969494;
    font-size: .6vw;
}

.MainCardsText h4, h3{
    color:#FF8B36;
    font-size: .8vw;
    text-align: start;
}

.MainCardsProffession {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    width: 50%;
}

.MainCardsProffession p{
    color:#969494;
    font-size: .6vw;
}

.mainCard .mainCardImg {
    min-width: 4.5vw;
    width: 6vw;
    height: 5vw;
    border: .1vw solid #FF8B36; 
    border-radius:.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.mainCardImg img { 
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.odelCardTitle {
    height: 100%;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
    
}

.odelCardTitle p {
    margin: 0;
    padding: 0;
    color: #969494;
    font-size: .8vw;
}

.odelCardTitle h4 {
    color: #FF8B36;
    font-size: 1vw;
    text-align: start;
    text-transform: uppercasex;
}


@media (max-width:768px) {
    .mainCards {
        width: 100%;
        height: 28vh;
        padding: 1vw 5vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2vw;
        align-items: flex-start;
        overflow-y: auto;
    }

    .MainttaskCard {
        width: 100vw;
        height: 100vw;
        padding: 3vw 9vw;
        display: flex;
        gap: 9vw;
        overflow-x: auto;
    }

    .mainCard {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: flex-start;
        gap: 10px;
        border-radius: 8px;
        cursor: pointer;
        box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.11);
        padding-top: 5px;
        padding: 1vw 1vw;
    }

    .mainCard .mainCardImg {
        width: 15vw;
        height: 15vw;
        border: 1px solid #FF8B36;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }

    .mainCard img {
        display: inline-block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .mainCard h4 {
        text-align: center;
        font-size: 3vw;
        color: #FF8B36;
    }
}

.adminStatus {
    position: absolute;
    font-size: 1vw;
    top: .5vw;
    right: .5vw;
}