.mainNav {
    width: 50vw;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
}

.mainNav h5 {
    font-size: 18px;
    letter-spacing: 0.2px;
    color: #FF8B36;
}

.mainNav button {
    background-color: #FF8B36;
    padding: .5vw 1.2vw;
    border-radius: .2vw;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 1vw;
}

.mainNavModel {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
}

.mainNavModelCard {
    position: relative;
    top: 150px;
    width: 400px;
    height: 200px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    z-index: 3;
}

.mainNavModel .close {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 3px;
}

.Vazifa-Inp {
  display: flex;
  align-items: center;
  gap: 1vw;
  width: 100%;
}

.mainNavModelCard input {
    width: 100%;
    height: 35px;
    padding-left: 5px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-weight: 600;
    font-size: 15px;
}

.DateRegister {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1vw;
}


.PrivatOnBtn {
  display: none;
}

#type {
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 18px;
    cursor: pointer;
    background-color: rgb(255, 226, 222);
    color: #828282;
    border: none;
    border-radius: 5px;
}

.mainNavModelCard .btns {
    width: 100%;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}


.mainNavModelCard .btns .btns1 {
    padding: 8px 15px;
    cursor: pointer;
    color: #828282;
    background-color: transparent;
    border: none;
    font-size: 17px;
}

.mainNavModelCard .btns .btns2 {
    padding: 8px 15px;
    cursor: pointer;
    color: white;
    background-color: #FF8B36;
    border: none;
    border-radius: 5px;
    font-size: 17px;
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.11);
}

.none {
    display: none;
}

.mainNavModelCard .inError {
    border: 2px solid red;
}

.PrivatBtn {
    width: 100%;
    outline: none;
    border: none;
    background: rgba(255, 0, 0, 0.338);
    height: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;

}

.PrivatOnBtn {
    outline: none;
    border: none;
    background: none;
    width: 100%;
    height: 100%;
    cursor: pointer;
    color: #ffff;
}

.ButtonDivMain {
    width: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    margin-top: .4vw;
    gap: 1.5vw;
    padding: 1VW .5vw;
    border-radius: .5vw;
    -webkit-box-shadow: 0px 0px 23px -2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 23px -2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 23px -2px rgba(34, 60, 80, 0.2);
}

.ButtonDivMain button {
    outline: none;
    background: none;
    border: .1vw solid #FF8B36;
    color: #524f4f;
    border-radius: .5vw;
    padding: .3vw;
    font-size: .9vw;
    cursor: pointer;
    transition: .3s all ease;
}

.ButtonDivMain button:hover {
    outline: none;
    color: white;
    background: #FF8B36;
    border: .1vw solid #FF8B36;
    border-radius: .5vw;
    padding: .3vw;
    font-size: .9vw;
    cursor: pointer;
}

.BurgerDrop {
    display: none;
}


@media (max-width:768px) {
    .mainNav {
        width: 100%;
        padding: 5vw 6vw;
        display: flex;
        justify-content: space-between;
        gap: 10vw;
        margin: 0;
    }

    .mainNav button {
        background-color: #FF8B36;
        padding: 3vw 1vw;
        border-radius: 3px;
        border: none;
        cursor: pointer;
        color: white;
        font-size: 2.5vw;
        text-transform: uppercase;
        font-weight: 400;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .ButtonDivMain {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .mainNavModel {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
    }

    .mainNavModelCard {
        position: relative;
        top: 150px;
        width: 90%;
        height: 25vw;
        background-color: white;
        border-radius: 10px;
        padding: 10px;
        display: flex;
        flex-direction: column; 
        justify-content: space-around;
        gap: 12px;
        z-index: 3;
    }



    .mainNavModel .close {
        position: absolute;
        top: 5px;
        right: 5px;
        cursor: pointer;
        width: 20px;
        height: 20px;
        background-color: red;
        color: white;
        border: none;
        border-radius: 3px;
    }

    .mainNavModelCard input {
        margin-top: 30px;
        width: 100%;
        height: 35px;
        padding-left: 5px;
        border-radius: 5px;
        outline: none;
        border: 2px solid #828282;
        font-weight: 600;
        font-size: 15px;
    }

    #type {
        width: 100%;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        font-size: 18px;
        cursor: pointer;
        background-color: rgb(255, 226, 222);
        color: #828282;
        border: none;
        border-radius: 5px;
    }

    .mainNavModelCard .btns {
        width: 100%;
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 10px;
    }


    .mainNavModelCard .btns .btns1 {
        padding: 8px 15px;
        cursor: pointer;
        color: #828282;
        background-color: transparent;
        border: none;
        font-size: 17px;
    }

    .mainNavModelCard .btns .btns2 {
        padding: 8px 15px;
        cursor: pointer;
        color: white;
        background-color: #FF8B36;
        border: none;
        border-radius: 5px;
        font-size: 17px;
        box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.11);
    }

    .none {
        display: none;
    }

    .mainNavModelCard .inError {
        border: 2px solid red;
    }

    .PrivatBtn {
        width: 100%;
        outline: none;
        border: none;
        background: rgba(255, 0, 0, 0.338);
        height: 2vw;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .PrivatOnBtn {
        outline: none;
        border: none;
        background: none;
        width: 100%;
        height: 100%;
        cursor: pointer;
        color: #ffff;
    }

    $items: 4;
    $transition-duration: 0.5s;
    $transition-delay: 0.05s;


    /* Basic styles */

    a {
        text-decoration: none;
    }

    .BurgerDrop {
        display: flex;
    }
    
    .containerburg {
      max-width: 1050px;
      width: 90%;
      margin: auto;
    }
    
    .navbarburg {
      width: 100%;
      box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
    }
    
    .nav-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 62px;
    }
    
    .navbarburg .menu-items {
      display: flex;
    }
    
    .nav-container {
      display: block;
      position: relative;
      height: 60px;
    }
    
    .nav-container .checkbox {
      position: absolute;
      display: block;
      height: 32px;
      width: 32px;
      top: 20px;
      left: 20px;
      z-index: 5;
      opacity: 0;
      cursor: pointer;
    }
    
    .nav-container .hamburger-lines {
      display: block;
      height: 26px;
      width: 32px;
      position: absolute;
      top: 17px;
      left: 20px;
      z-index: 2;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    
    .nav-container .hamburger-lines .line {
      display: block;
      height: 4px;
      width:100%;
      border-radius: 10px;
      background: #0e2431;
    }
    
    .nav-container .hamburger-lines .line1 {
      transform-origin: 0% 0%;
      transition: transform 0.4s ease-in-out;
    }
    
    .nav-container .hamburger-lines .line2 {
      transition: transform 0.2s ease-in-out;
    }
    
    .nav-container .hamburger-lines .line3 {
      transform-origin: 0% 100%;
      transition: transform 0.4s ease-in-out;
    }
    
    .navbarburg .menu-items {
      position: absolute;
      z-index: 1;
      padding-top: 120px;
      height: 100vh;
      width: 100vw;
      transform: translate(-150%);
      display: flex;
      flex-direction: column;
      margin-left: -20px;
      transition: transform 0.5s ease-in-out;
      text-align: center;
      background-color: white;
    }
    
    .navbarburg .menu-items li {
      margin-bottom: 1.2rem;
      font-size: 1.5rem;
      font-weight: 500;
    }
    
    .nav-container input[type="checkbox"]:checked ~ .menu-items {
      transform: translateX(0);
    }
    
    .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
      transform: rotate(45deg);
    }
    
    .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
      transform: scaleY(0);
    }
    
    .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
      transform: rotate(-45deg);
    }
    


    .dropdownbtnmenu {
      display: none;
    }

    .QoshishBtn {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .menu-items button{
        width: 50vw;
        height: 10vw;
        border: .1vw solid #FF8B36;
        background: none;
        color: #FF8B36;
        font-size: 4vw;
    }

    .menu-items button:hover,
    .menu-items button:focus{
      width: 50vw;
      border: .1vw solid #FF8B36;
      background: #FF8B36;
      color: #ffff;
      font-size: 4vw;
  }

    .menu-items .ButtonDivMain {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items:center;
      justify-content: center;
      box-shadow: none;
    }
}