.profilInfos {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.352);
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profilInfosBox {
    width: 20vw;
    min-height: 60%;
    background-color: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column; 
    align-content: space-between; 
}
.profilInfosBox img {
    width: 100%;
    height: auto;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    object-fit: contain;
}

.close {
    display: none;
}

.profilInfosBox__userInfos {
    width: 100%; 
    display: flex;
    flex-direction: column;
    align-content: space-between;
    gap: 4vw;
    padding: 1vw 1.5vw;
}

.btns {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.btns button {
    outline: none;
    border: none;
    background-color: #FF8B36;
    padding: .5vw 1vw;
    border-radius: .3vw;
    color: white;
    font-size: .8vw;
    font-weight: 600;
    font-family: sans-serif;
    cursor: pointer;
}

.ProfilTextModal {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 5vw; 
}

.ProfilTextModal h3{
    font-size: 1vw;
    font-family: sans-serif;
    font-weight: 500;
    color: black;
    border-bottom: .1vw solid #FF8B36;
}

.ProfilTextModal p {
    font-size: 1vw;
    font-family: sans-serif;
    font-weight: 400;
    color: grey; 
}

@media (max-width:768px) {
    .profilInfos {
        width: 100%;
        height: 100%;
        position: fixed;
        background-color: rgba(0, 0, 0, 0.352);
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .profilInfosBox {
        width: 90%;
        min-height: 60%;
        background-color: white;
        border-radius: 8px;
        display: flex;
        flex-direction: column; 
        align-content: space-between; 
    }
    .profilInfosBox img {
        width: 100%;
        height: auto;
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
        object-fit: contain;
    }
    
    .close {
        display: none;
    }
    
    .profilInfosBox__userInfos {
        width: 100%; 
        display: flex;
        flex-direction: column;
        align-content: space-between;
        gap: 18vw;
        padding: 10px 20px;
    }

    .btns {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .btns button {
        outline: none;
        border: none;
        background-color: #FF8B36;
        padding: 3vw;
        border-radius: 2vw;
        color: white;
        font-size: 4vw;
        font-weight: 600;
        font-family: sans-serif;
    }

    .ProfilTextModal {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 15vw; 
    }

    .ProfilTextModal h3{
        font-size: 5vw;
        font-family: sans-serif;
        font-weight: 500;
        color: black;
        border-bottom: .1vw solid #FF8B36;
    }

    .ProfilTextModal p {
        font-size: 5vw;
        font-family: sans-serif;
        font-weight: 400;
        color: grey; 
    }
}