.profilInfos {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.352);
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profilInfosBox {
    width: 20vw;
    min-height: 60%;
    background-color: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
}

.profilInfosBox img {
    width: 100%;
    height: auto;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    object-fit: contain;
}

.close {
    display: none;
}

.profilInfosBox__userInfos {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    gap: 4vw;
    padding: 1vw 1.5vw;
}

.btns {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.btns button {
    outline: none;
    border: none;
    background-color: #FF8B36;
    padding: .5vw 1vw;
    border-radius: .3vw;
    color: white;
    font-size: .8vw;
    font-weight: 600;
    font-family: sans-serif;
    cursor: pointer;
}

.red {
    display: flex;
    align-items: center;
}

.ProfilTextModal {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 5vw;
}

.ProfilTextModal h3 {
    font-size: 1vw;
    font-family: sans-serif;
    font-weight: 500;
    color: black;
    border-bottom: .1vw solid #FF8B36;
}

.ProfilTextModal p {
    font-size: 1vw;
    font-family: sans-serif;
    font-weight: 400;
    color: grey;
}

@media (max-width:768px) {
    .profilInfos {
        width: 100%;
        height: 100%;
        position: fixed;
        background-color: rgba(0, 0, 0, 0.352);
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .profilInfosBox {
        width: 90%;
        min-height: 60%;
        background-color: white;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        align-content: space-between;
    }

    .profilInfosBox img {
        width: 100%;
        height: auto;
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
        object-fit: contain;
    }

    .close {
        display: none;
    }

    .profilInfosBox__userInfos {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-content: space-between;
        gap: 18vw;
        padding: 10px 20px;
    }

    .btns {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .btns button {
        outline: none;
        border: none;
        background-color: #FF8B36;
        padding: 3vw;
        border-radius: 2vw;
        color: white;
        font-size: 4vw;
        font-weight: 600;
        font-family: sans-serif;
    }

    .ProfilTextModal {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 15vw;
    }

    .ProfilTextModal h3 {
        font-size: 5vw;
        font-family: sans-serif;
        font-weight: 500;
        color: black;
        border-bottom: .1vw solid #FF8B36;
    }

    .ProfilTextModal p {
        font-size: 5vw;
        font-family: sans-serif;
        font-weight: 400;
        color: grey;
    }
}

.css-1wnsr1i {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 50vw;
    height: 25vw;
    background-color: #fff;
    border-radius: 1vw;
    overflow: hidden;
    box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
}

.css-79ws1d-MuiModal-root {
    position: fixed;
    z-index: 1300;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
}

#modal-modal-description {
    width: 100%;
    height: 100%;
}

.TextenButtonModal {
    width: 100%;
    height: 13vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1vw;
}

.profilImg {
    width: 200px;
}


.modalll {
    position: relative;
}

.mainProfilINfo {
    width: 100%;
    height: 100%;
    display: flex; 
    align-items:center;
    justify-content: space-between; 
    padding: 0 1vw;
}

.mainProfilINfo__texts {
    display: flex;
    flex-direction: column;
}

.mainProfilINfo__texts h2 {
    text-transform: capitalize;
    font-weight: 500;
}

.mainProfilINfo__texts h4 {
    font-weight: 500;
}

.mainProfilINfo .mainProfilINfo__btns {
    width: 50%;
    display: flex; 
    justify-content: space-between;
}

.mainProfilINfo .mainProfilINfo__btns button {
    width: 8vw;
    height: 2.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
}

.mainProfilINfo .mainProfilINfo__btns .red {
    background-color: red;
    color: white;
    border: red;
    border-radius: 4px;
    cursor: pointer;
}

.mainProfilINfo .mainProfilINfo__btns .orange {
    background-color: orange;
    color: white;
    border: orange;
    border-radius: 4px;
    cursor: pointer;
}

.MainProfilInfo__Text_Name {
    display: flex;
}

.ProfilModalImg { 
    width: 20vw;
    height: 20vw;
    border-radius:1vw;
    border:.2vw solid #FF8B36;
    overflow: hidden;
    margin: 0;
    padding: 0;
    -webkit-box-shadow: 0px 0px 51px -8px rgba(34, 60, 80, 0.12);
    -moz-box-shadow: 0px 0px 51px -8px rgba(34, 60, 80, 0.12);
    box-shadow: 0px 0px 51px -8px rgba(34, 60, 80, 0.12);

}

.ProfilModalImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}

.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}

.popup .closes {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup .close:hover {
    color: #06D85F;
}


@media screen and (max-width: 700px) {
    .box {
        width: 70%;
    }

    .popup {
        width: 70%;
    }
}